<div class="modal-header">
    <h3 class="modal-title">Review</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div ng-show="fail" class="alert alert-info alert-dismissable">
            <i class="fa fa-exclamation-triangle"></i>
            {{failMessage}}
        </div>

        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-lg-3 control-label">Review:</label>
                <div class="col-lg-8">
                    <textarea ng-model="review" placeholder="Your Review *" class="form-control resize-vertical"></textarea>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Rating:</label>
                <div class="col-md-8">
                    <rating ng-model="rating" max="5" readonly=false></rating>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="submit()">Submit</button>
    <button class="btn btn-primary" id="cancel" ng-click="cancel()">Cancel</button>
</div>
