<!-- Navigation -->
<nav class="navbar navbar-transparent navbar-fixed-top signNav" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#/home" ng-click="scrollTo('#page-top')">
                <div class="logo-container">
                    <div class="logo"><!-- you logо img --></div>
                    <div class="brand">MASSAGE-ON-RUN</div>
                </div>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="example">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <!-- Button trigger modal -->
                    <a class="page-scroll" data-toggle="modal" data-target="#myModal" style="cursor:pointer">Login</a>
                </li>
                <li>
                    <a class="page-scroll" href="" ng-click="logout()">Logout</a>
                </li>
                <li>
                    <a class="page-scroll btn btn-primary btn-lg" href="#/booking" ng-click="book()">BOOK</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

    <!---------------------------------- Modal -------------------------------->
<form>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Login</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group loginInput">
                        <input type="text" class="form-control" required="required" placeholder="Username">
                    </div>
                    <div class="input-group loginInput">
                        <input type="password" class="form-control" required="required" placeholder="Password">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="login()">Login</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Signup Section -->
<section id="signup" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sign Up</h2>
            </div>
        </div>
        <div class="row">
            <code class="pull-right">All fields are mandatory</code>
        </div>

        <div ng-show="fail" class="alert alert-info alert-dismissable">
            <i class="fa fa-exclamation-triangle"></i>
            {{failMessage}}
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="First Name:" ng-model="newUser.firstName" required>
                    <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Last Name:" ng-model="newUser.lastName" required>
                    <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Address:" ng-model="newUser.address" required>
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password:" ng-model="newUser.password" required>
                    <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Reenter Password:" ng-model="newUser.rePassword" required>
                    <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                    <select class="form-control" ng-model="newUser.gender" required>
                        <option value="" disabled selected>Gender:</option>
                        <option value="m">Male</option>
                        <option value="f">Female</option>
                    </select>
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-6">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email address:" ng-model="newUser.email" required>
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="col-lg-6"></div>
            <div class="col-lg-12 text-center">
                <div id="success"></div>
                <button type="submit" class="btn btn-primary" ng-click="signUp(newUser)">Sign Up</button>
            </div>
        </div>
    </div>
</section>